

<div class="col-sm-12" id="about">
  <center>

    <div class="col-sm-6" id="abouttext">
      <h1>| Behind App |</h1>
        <h4>Mapping presidential candidates is a data visualization app that allows users to follow a candidate in detail. Features include a mapping and following a candidate’s schedule to understanding what topics and geographic regions the campaign is emphasizing. This app uses event based mapping to help create a more comprehensive understanding of the upcoming US presidential campaign season.</h4>
      
      <h2>| Technologies Used |</h2>
        <h4><ul>
          <li>Mean Stack</li>
          <li>External API</li>
          <li>NG-MAP</li>
          <li>Bootstrap</li>
          <li>Body-Parser</li>
          <li>Async</li>
          <li>Request</li>
          <li>MongoDB</li>
          <li>Web-Scraping</li>
        </ul></h4>
      <a href="https://github.com/taranamol/mappingcandidates"><img src="http://cdn.flaticon.com/png/256/25231.png"></a>
    </div>

    <div class="col-sm-6" id="aboutimg">
      <img src="https://images.unsplash.com/photo-1428976343495-f2c66e701b2b?q=80&fm=jpg&s=434f5cebccf167ae3130df7e3caeee53">
    </div>

  </center>
</div>

