body {
  font-family: 'Oswald', sans-serif;
  background-color: #F7F7F7;
}

.navbar {
  padding-top: 10px;
  margin-top: -6px;
  padding-bottom: 15px;
  margin-bottom: -10px;
}

#map {
  background-color: #F7F7F7;
  margin-top: 4px;
/*  padding-top: 50px;*/
/*  padding-bottom: 50px;*/
  overflow: scroll;
}

#content {
  font-family: 'Oswald', sans-serif;
  background-color: #032F40;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  overflow:auto; 
  height: 100%;
  color: #F7F7F7;
}

#candidateEventList {
  overflow:auto; 
  height: 100%
}

#abouttext {
  padding-top: 50px;
}

ul
{
  list-style-type: none;
}

#about > center > div > a > img {
  width:90px;
  height: auto;
  padding-left: 35px;
}

#aboutimg > img {
  width: 500px;
  height: auto;
  padding-top: 20px;
}




