body {
  font-family: 'Gudea', sans-serif;
  background-color: #F7F7F7;
}

.navbar {
  padding-top: 10px;
  margin-top: -6px;
  padding-bottom: 15px;
  margin-bottom: -10px;
}

.parallax-window {
  min-height: 300px;
}

#map {
  background-color: #032F40;
  padding-top: 50px;
  padding-bottom: 50px;
  overflow: scroll;
}

#content {
  font-family: 'Gudea', sans-serif;
  background-color: #032F40;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  overflow:auto; 
  height: 100%;
  color: #F7F7F7;
}

#candidateEventList {
  overflow:auto; 
  height: 100%
}



