body {
  font-family: 'Gudea', sans-serif;
  background-color: #F7F7F7;
}

.navbar {
  padding-top: 10px;
  margin-top: -6px;
  padding-bottom: 15px;
  margin-bottom: -10px;
}

.parallax-window {
  min-height: 300px;
}

/*#landingPage {
  position: relative;
  background-image: url(https://images.unsplash.com/photo-1434828927397-62ea053f7a35?q=80&fm=jpg&s=63163124f8cdba56cee68aeb55bcfbdf);
  width: 100%;
  height: 100%;
  background-size: cover;
  overflow: hidden;
  position-top: -45px;
}*/

#map {
  background-color: #032F40;
  padding-top: 50px;
  padding-bottom: 50px;
}

#content {
  font-family: 'Gudea', sans-serif;
  background-color: #F7F7F7;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}



